input {
  keyboard {
    xkb {
      layout "us,de"
      options "grp:switch,caps:escape"
    }
    repeat-delay 200
    repeat-rate 30
  }

  touchpad {
    tap
    dwt  // disable while typing
    dwtp // disable while track pointing
    natural-scroll
    scroll-factor 0.7
  }

  // warp-mouse-to-focus
  focus-follows-mouse max-scroll-amount="24%"
  workspace-auto-back-and-forth
}

output "eDP-1" {
  scale 1.0
  position x=0 y=0
}

output "HDMI-A-1" {
  scale 1.0
  position x=0 y=-1080
}

switch-events {
  lid-close { spawn "sh" "-c" "swaylock -eFfC $HOME/.dot/.config/sway/swaylock-rose-pine"; }
}

cursor {
  hide-when-typing
  hide-after-inactive-ms 20000
}

layout {
  gaps 8

  center-focused-column "never"
  always-center-single-column
  empty-workspace-above-first

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }
  default-column-width { proportion 0.5; }
  focus-ring {
    // rose-pine
    // background=#191724
    // foreground=#e0def4
    // regular0=#26233a  # black
    // regular1=#eb6f92  # red
    // regular2=#31748f  # green
    // regular3=#f6c177  # yellow
    // regular4=#9ccfd8  # blue
    // regular5=#c4a7e7  # magenta
    // regular6=#ebbcba  # cyan
    width 4
    active-color "#c4a7e7"
    inactive-color "#9ccfd8"
  }


  border {
    off
  }

  struts {
    left 16
    right 16
    top 4
    bottom 4
  }
}

environment {
  DISPLAY ":0"
  ELECTRON_OZONE_PLATFORM_HINT "wayland"
  QT_QPA_PLATFORM "wayland"
}

spawn-at-startup "systemctl" "--user" "import-environment" "DISPLAY" "WAYLAND_DISPLAY"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "DISPLAY" "WAYLAND_DISPLAY"

spawn-at-startup "swaybg" "-c" "668888"
spawn-at-startup "swayidle" "-w" "timeout" "300" "'swaylock -eFfC $HOME/.dot/.config/sway/swaylock-rose-pine'" "before-sleep" "'swaylock -eFfC $HOME/.dot/.config/sway/swaylock-rose-pine'"
spawn-at-startup "dex" "--autostart" "--environment" "niri" "--search-paths" "~/.config/autostart/"

screenshot-path null

animations {
  slowdown 0.5
}

prefer-no-csd

window-rule {
  match app-id="firefox"
  open-maximized true
}

window-rule {
  match app-id="steam"
  open-maximized true
  open-on-workspace "2"
}

// window-rule {
//   match app-id="foot"
//   default-column-width { proportion 0.5; }
// }

hotkey-overlay {
  skip-at-startup
}

binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  Mod+E             repeat=false { toggle-overview; }

  Mod+Return        repeat=false { spawn "footclient"; }
  Mod+Shift+Return  repeat=false { spawn "footclient" "-e" "yazi"; }
  Mod+Space         repeat=false { spawn "fuzzel"; }
  Mod+W             repeat=false { spawn "~/.config/niri/switchwindow"; }
  Mod+0             repeat=false { spawn "~/.config/niri/powermenu"; }
  Ctrl+Alt+L        repeat=false { spawn "sh" "-c" "swaylock -eFfC $HOME/.dot/.config/sway/swaylock-rose-pine"; }

  Mod+V       repeat=false { spawn "footclient" "-e" "vimclip"; }
  Mod+N       repeat=false { spawn "bash" "-c" "footclient -e nvim -c 'lcd ~/Nextcloud/Notes' ~/Nextcloud/Notes"; }
  Mod+M       repeat=false { spawn "bash" "-c" "footclient -e nvim -c 'lcd ~/Nextcloud/Notes' ~/Nextcloud/Notes/personal-notes.md"; }
  Mod+Z       repeat=false { spawn "bash" "-c" "footclient -e ~/Nextcloud/Notes/Zettel/new_zettel.sh ~/Nextcloud/Notes/Zettel"; }
  Mod+Shift+Z repeat=false { spawn "bash" "-c" "footclient -e lzt"; }

  XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
  XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
  XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "10%-"; }
  XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+10%"; }

  // Window movement
  // Mod+H         { focus-column-or-monitor-left; }
  // Mod+L         { focus-column-or-monitor-right; }
  Mod+H         { focus-column-left; }
  Mod+J         { focus-window-or-workspace-down; }
  Mod+K         { focus-window-or-workspace-up; }
  Mod+L         { focus-column-right; }

  Mod+Shift+H   { move-column-left; }
  Mod+Shift+J   { move-window-down-or-to-workspace-down; }
  Mod+Shift+K   { move-window-up-or-to-workspace-up; }
  Mod+Shift+L   { move-column-right; }

  // Monitor movement
  Mod+Ctrl+H        { focus-monitor-left; }
  Mod+Ctrl+J        { focus-monitor-down; }
  Mod+Ctrl+K        { focus-monitor-up; }
  Mod+Ctrl+L        { focus-monitor-right; }
  Mod+Ctrl+Shift+H  { move-workspace-to-monitor-left; }
  Mod+Ctrl+Shift+J  { move-workspace-to-monitor-down; }
  Mod+Ctrl+Shift+K  { move-workspace-to-monitor-up; }
  Mod+Ctrl+Shift+L  { move-workspace-to-monitor-right; }

  Mod+Y         { focus-column-first; }
  Mod+O         { focus-column-last; }
  Mod+Home      { focus-column-first; }
  Mod+End       { focus-column-last; }
  Mod+Ctrl+Home { move-column-to-first; }
  Mod+Ctrl+End  { move-column-to-last; }

  // Mod+I         { focus-workspace-down; }
  // Mod+U         { focus-workspace-up; }
  // Mod+Shift+I   { move-column-to-workspace-down; }
  // Mod+Shift+U   { move-column-to-workspace-up; }

  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight           { focus-column-right; }
  Mod+WheelScrollLeft            { focus-column-left; }
  Mod+Ctrl+WheelScrollRight      { move-column-right; }
  Mod+Ctrl+WheelScrollLeft       { move-column-left; }

  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Ctrl+1 { move-column-to-workspace 1; }
  Mod+Ctrl+2 { move-column-to-workspace 2; }
  Mod+Ctrl+3 { move-column-to-workspace 3; }
  Mod+Ctrl+4 { move-column-to-workspace 4; }
  Mod+Ctrl+5 { move-column-to-workspace 5; }
  Mod+Ctrl+6 { move-column-to-workspace 6; }
  Mod+Ctrl+7 { move-column-to-workspace 7; }
  Mod+Ctrl+8 { move-column-to-workspace 8; }
  Mod+Ctrl+9 { move-column-to-workspace 9; }

  Mod+B { focus-workspace-previous; }

  // Mod+E { consume-window-into-column; }
  // Mod+W { expel-window-from-column; }
  Mod+Comma  { consume-or-expel-window-left; }
  Mod+Period { consume-or-expel-window-right; }

  Mod+R       { switch-preset-column-width; }
  Mod+A       { set-column-width "33%"; }
  Mod+S       { set-column-width "50%"; }
  Mod+D       { set-column-width "66%"; }
  Mod+F       { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+C       { center-column; }

  // Mod+Y { set-column-width "-10%"; }
  // Mod+O { set-column-width "+10%"; }
  Mod+TouchpadScrollDown { set-column-width "+10%"; }
  Mod+TouchpadScrollUp   { set-column-width "-10%"; }

  Mod+Shift+Y { set-window-height "-10%"; }
  Mod+Shift+O { set-window-height "+10%"; }

  Ctrl+Alt+S { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print  { screenshot-window; }

  Mod+Shift+E { quit; }
  Mod+Shift+P { power-off-monitors; }
  Mod+Shift+Q { close-window; }
}
